## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [115]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [116]:
# Your code here
sample_list_1 = []
while len(sample_list_1) != 80:
        j = random.randint(0,100)
        if j not in sample_list_1:
            sample_list_1.append(j)
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [117]:
# Your code here
set1=set(sample_list_1)
len(set1)

# comment:
# the length is still 80 since our initial list contained only unique values eg. no duplicates before being converted into a set.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [118]:
# Your code here
sample_list_2 = []
for i in range (80):
        j = random.randint(0,100)
        sample_list_2.append(j)
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [119]:
# Your code here
set2 = set(sample_list_2)
len(set2)

# comment:
# there is high probability to get duplicate when we generate the second random list, these duplicates are getting removed when the list is converted into a set hence the difference of length.

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [120]:
# Your code here
set3 = set([item for item in set1 if item not in set2])
len(set3)

39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [121]:
# Your code here
set4 = set([item for item in set2 if item not in set1])
len(set4)

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [122]:
# Your code here
set5 = set1.intersection(set2)
len(set5)

41

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [123]:
# Your code here
len(set1), len(set2), len(set3), len(set4), len(set5)

(80, 53, 39, 12, 41)

In [124]:
# relationship:
len(set1) + len(set2) == len(set3) + len(set4) + len(set5)*2

True

#### Create an empty set called `set6`.

In [125]:
# Your code here
set6 = set()
set6

set()

In [126]:
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [127]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [128]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [129]:
# Your code here
set2.issubset(set1)

False

In [130]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [131]:
# Your code here
union1 = set3.union(set4,set5)
union2 = set1.union(set2)

In [132]:
union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [133]:
# Your code here
set1.pop()
# The element that is the smallest in the set is removed first followed by removing elements in increasing order

0

In [134]:
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [135]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 6, 7, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 34, 35, 36, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 72, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 95, 96, 97, 98, 100}

In [136]:
len(set1)

64