# Understanding Descriptive Statistics

Import the necessary libraries here:

In [242]:
# Libraries
import numpy as np
import pandas as pd
import random as rd
import matplotlib.pyplot as plt

## Challenge 1
#### 1.- Define a function that simulates rolling a dice 10 times. Save the information in a dataframe.
**Hint**: you can use the *choices* function from module *random* to help you with the simulation.

In [243]:
# your code here
# mylist = ["apple", "banana", "cherry"]
# print(random.choices(mylist, weights = [10, 1, 1], k = 14))

def rolling_dice(x):
    dice_faces = [1,2,3,4,5,6]
    return pd.DataFrame(rd.choices(dice_faces, k=x),columns=['results'])
results = rolling_dice(10)
results

   results
0        6
1        6
2        3
3        1
4        4
5        4
6        3
7        1
8        6
9        2

#### 2.- Plot the results sorted by value.

In [244]:
# your code here

#### 3.- Calculate the frequency distribution and plot it. What is the relation between this plot and the plot above? Describe it with words.

In [245]:
# your code here

In [246]:
"""
your comments here
"""

'\nyour comments here\n'

## Challenge 2
Now, using the dice results obtained in *challenge 1*, your are going to define some functions that will help you calculate the mean of your data in two different ways, the median and the four quartiles. 

#### 1.- Define a function that computes the mean by summing all the observations and dividing by the total number of observations. You are not allowed to use any methods or functions that directly calculate the mean value.

In [247]:
results

   results
0        6
1        6
2        3
3        1
4        4
5        4
6        3
7        1
8        6
9        2

In [248]:
# your code here
def mean(list):
    return results['results'].sum()/len(results)
mean(results)

3.6

In [249]:
# check
mean(results) - mean(results) == 0

True

#### 2.- First, calculate the frequency distribution. Then, calculate the mean using the values of the frequency distribution you've just computed. You are not allowed to use any methods or functions that directly calculate the mean value.

In [250]:
# frequency distribution
freq_dist = pd.DataFrame(results.value_counts(),columns=['frequency']).reset_index()
freq_dist['results_x_frequency'] = freq_dist['results'] * freq_dist['frequency']
freq_dist.sort_values(by=['results'],ascending=True)

   results  frequency  results_x_frequency
1        1          2                    2
4        2          1                    2
2        3          2                    6
3        4          2                    8
0        6          3                   18

In [251]:
# mean
mean = freq_dist['results_x_frequency'].sum()/len(results)
mean

3.6

#### 3.- Define a function to calculate the median. You are not allowed to use any methods or functions that directly calculate the median value. 
**Hint**: you might need to define two computation cases depending on the number of observations used to calculate the median.

In [252]:
# your code here
results

   results
0        6
1        6
2        3
3        1
4        4
5        4
6        3
7        1
8        6
9        2

In [253]:
def median(df):
    sort = df.sort_values(by=['results'],ascending=True).reset_index(drop=True)
    if len(df)%2 != 0:
        return sort.at[(len(df)+1)/2-1,'results'] #index starts at 0 so we remove -1
    else:
        return ((sort.at[(len(df)/2)-1,'results']) + (sort.at[len(df)/2,'results'])) / 2

In [254]:
median(results) == results['results'].median()

True

#### 4.- Define a function to calculate the four quartiles. You can use the function you defined above to compute the median but you are not allowed to use any methods or functions that directly calculate the quartiles.

In [274]:
sort = results.sort_values(by=['results'],ascending=True).reset_index(drop=True)
sort

   results
0        1
1        1
2        2
3        3
4        3
5        4
6        4
7        6
8        6
9        6

In [270]:
# your code here
def quartiles(df):
    sort = df.sort_values(by=['results'],ascending=True).reset_index(drop=True)
    return print('min:',sort['results'].min(),"25%:",median(sort.iloc[:int(len(sort)/2)]),"50%:",median(df),"75%:",median(sort.iloc[int(len(sort)/2):]),"max:",sort["results"].max())

In [271]:
quartiles(results)

min: 1 25%: 2 50%: 3.5 75%: 6 max: 6

In [273]:
# check
results.describe()

        results
count  10.00000
mean    3.60000
std     1.95505
min     1.00000
25%     2.25000
50%     3.50000
75%     5.50000
max     6.00000

In [276]:
results.quantile(0.75)

results    5.5
Name: 0.75, dtype: float64

## Challenge 3
Read the csv `roll_the_dice_hundred.csv` from the `data` folder.
#### 1.- Sort the values and plot them. What do you see?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 2.- Using the functions you defined in *challenge 2*, calculate the mean value of the hundred dice rolls.

In [ ]:
# your code here

#### 3.- Now, calculate the frequency distribution.

In [ ]:
# your code here

#### 4.- Plot the histogram. What do you see (shape, values...) ? How can you connect the mean value to the histogram?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 5.- Read the `roll_the_dice_thousand.csv` from the `data` folder. Plot the frequency distribution as you did before. Has anything changed? Why do you think it changed?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Challenge 4
In the `data` folder of this repository you will find three different files with the prefix `ages_population`. These files contain information about a poll answered by a thousand people regarding their age. Each file corresponds to the poll answers in different neighbourhoods of Barcelona.

#### 1.- Read the file `ages_population.csv`. Calculate the frequency distribution and plot it as we did during the lesson. Try to guess the range in which the mean and the standard deviation will be by looking at the plot.

In [ ]:
# your code here

#### 2.- Calculate the exact mean and standard deviation and compare them with your guesses. Do they fall inside the ranges you guessed?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 3.- Now read the file `ages_population2.csv` . Calculate the frequency distribution and plot it.

In [ ]:
# your code here

####  4.- What do you see? Is there any difference with the frequency distribution in step 1?

In [ ]:
"""
your comments here
"""

#### 5.- Calculate the mean and standard deviation. Compare the results with the mean and standard deviation in step 2. What do you think?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Challenge 5
Now is the turn of `ages_population3.csv`.

#### 1.- Read the file `ages_population3.csv`. Calculate the frequency distribution and plot it.

In [ ]:
# your code here

#### 2.- Calculate the mean and standard deviation. Compare the results with the plot in step 1. What is happening?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 3.- Calculate the four quartiles. Use the results to explain your reasoning for question in step 2. How much of a difference is there between the median and the mean?

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### 4.- Calculate other percentiles that might be useful to give more arguments to your reasoning.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

## Bonus challenge
Compare the information about the three neighbourhoods. Prepare a report about the three of them. Remember to find out which are their similarities and their differences backing your arguments in basic statistics.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""